*{
    margin: 0;
    padding: 0;
}

body{
    background: url(../img/universo.jpg);
    background-repeat: 
}

h1{
    text-align: center;
    font-size: 4em;
    top: 30%;
    left: 40%;
    transform: translateX(5%) translateY(200%);
    color: white;

}

.boton{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 100vh;
    padding: 25px 40px;
}
.btn-1{
    margin: 45px;
}